# Default ignored files
/shelf/
/.idea/workspace.xml
*.class
.idea
# Gradle
.idea/**/gradle.xml
.idea/**/libraries

### Gradle ###
.gradle
**/build/
!src/**/build/


# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Avoid ignore Gradle wrappper properties
!gradle-wrapper.properties

# Cache of project
.gradletasknamecache